
html {
    font-size: 10px;
    font-family: "Verdana", sans-serif; 
    background-color: #20d09e;
  }

  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #5800b7;
    text-shadow: 3px 3px 1px black;
  }
  
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

  body {
    width: 800px;
    margin: 0 auto;
    background-color: #0b5630;
    padding: 0 10px 10px 10px;
    border: 5px solid black;
  }

